[build]
  command = "npm run build"
  publish = "dist"
  base = "packages/admin-web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"





















